<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CustomerUIDemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:name=".activity.base.CustomerUIDemoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.home.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.TextviewEditTextDemo.TextViewAndEditViewDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.ImageViewDemo.ImageViewDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.TextviewEditTextDemo.ChartletActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/com.sonny.customer.AppTheme.Transparent"/>

        <activity
            android:name=".activity.TabHost.TabHostDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.TabHost.TabhostAndViewpagerDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.DrawerDemo.DrawerDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.Customer"/>

        <activity
            android:name=".activity.ExpandableListviewDemo.ExpandableListviewDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.ViewHolderDemo.ViewHolderDemoActvity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.AlertDialogDemo.AlertDialogDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.PopupWindowDemo.PopupWindowDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.SendNotificationDemo.SendNotificationDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.SendNotificationDemo.NotificationResultActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" >

            <!-- When open the notification and press back button, the screen will return to which page  -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SendNotificationDemo.SendNotificationDemoActivity" />
        </activity>

        <activity
            android:name=".activity.SendNotificationDemo.SpecialNotificationResultActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SendNotificationDemo.SendNotificationDemoActivity" />
        </activity>

        <activity
            android:name=".activity.WebViewDemo.WebViewDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.AnimationDemo.AnmationDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.MenuAndActionBarDemo.MenuAndActionBarDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.MenuAndActionBarDemo.ActionBarDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.MenuAndActionBarDemo.CustomerActionBarActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.Customer"/>

        <activity
            android:name=".activity.MenuAndActionBarDemo.FloatContextMenuDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.MenuAndActionBarDemo.IndividualViewActionModeDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.MenuAndActionBarDemo.ListViewActionModeDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.MenuAndActionBarDemo.CustomListViewActionModeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.Video.VideoDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.Video.VideoViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".activity.Video.VideoMediaPlayerActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

    </application>

</manifest>
